h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

h1.landing {
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .page-header .content-center.brand {
        width: 95%
    }
}

.logo {
    height: 100%;
    width: 70%;
    transition: all 0.3s;
}

footer .logo {
    width: 100%;
}

.navbar-transparent .logo {
    height: 100%;
    width: 100%;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

p strong {
    font-weight: bold;
} 

p {
    margin-bottom: 1rem;
    color: white;
    font-weight: 400;
}

a {font-weight: 400;}

.info:first-of-type {
    padding-top:0;

    p {
        margin-bottom: 0;
    }
}

.section-limit {
    overflow: hidden;
}

.ribbon-neutral {
    background-color: $blue;
    padding-top: 1rem;
    padding-bottom: 1rem;

    h1,h2,h3,p {
        color: $background-black;
    }

    img {
        margin-top: 1rem;
    margin-bottom: 1rem;
    }
}

.daughters {
    border-radius: 1rem;
    filter: grayscale(50%) contrast(125%)
}